<div style="float: right; margin: 0px 15px 15px 0px;">
<img src="https://upload.wikimedia.org/wikipedia/commons/b/b6/HULT_IBS_Logo_Outline_Black_%28cropped%29.png" width=150/>
</div>
<h1> Python for Data Analysis: Methods & Tools </h1>
<em> <strong>Python for everyday people </strong></em>
<br><br>
Written by Felipe Dominguez - Adjunct Professor<br>
Hult International Business School <br>
<br>
<h1><u> Chapter 06 - Introduction to Pandas</u></h1>
<em> Exercise workbook - Class 06</em>

<h3>1. Importing/Exporting csv file into Python Pandas</h3><br>
The element of a list of lists can be thought as the rows of a table. You've learned how to access this data types and this will be very useful when working with DataFrames. DataFrames resembles Excel Spreadsheets, but are more complicated than lists as they are multidimensional. DataFrames contains rows and columns uniquely identified.

<h4>1.1. Basic import</h4><br>
Pandas package has the <b>.read_csv( )</b> method to import comma separated values document into Python. this method has several optional arguments that will help you to customize and make your life easier when importing files. Let's start with the most basic import:

~~~
1. Import pandas
2. Specify file location*
3. Use .read_csv( ) pandas method
~~~

*The path specified is where Python will navigate to find the document

In [43]:
# Code 1.1.

# Step 1: Import pandas packages  as pd
____

# Step 2: Declare path file
path = ____

# Step 3: Importing the file into Python through pandas
df_airbnb = pd.read_csv(____)

# Step 4: Check results
df_airbnb

/var/folders/1k/brqb_p7s34s2ycd6vzfrbxf80000gn/T/ipykernel_52220/448814350.py:10: DtypeWarning: Columns (5,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_airbnb = pd.read_csv(path)

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
1,3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,2013-11-29,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
3,4797344,Cosy studio (close to Eiffel tower),10668311,2013-12-17,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,2014-12-14,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279707,38338635,Appartement T2 neuf prÃÂ¨s du tram T3a Porte ...,31161181,2015-04-13,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,1,7,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
279708,38538692,Cozy Studio in Montmartre,10294858,2013-11-27,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,7,15,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
279709,38683356,Nice and cosy mini-appartement in Paris,2238502,2012-04-27,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,6,30,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
279710,39659000,Charming apartment near Rue Saint Maur / Oberk...,38633695,2015-07-16,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,3,18,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
279711,40219504,Cosy apartment with view on Canal St Martin,6955618,2013-06-17,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,4,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f

<h4>1.2. File path</h4><br>
<div align = justify>
Currently, you indicated the full path where the document is located. Nonetheless, you can abbreviate this path by using the "./" character. This combination tells Python to start looking for the document at the same folder where the Jupyter Notebook is located. In this case, the path would look like:
</div>

~~~
path = "./__resources/airbnb_Listings.csv"
~~~

<div align = justify>
The syntax of this path can be interpreted as follow:
</div>
    
~~~
[FOLDER WHERE THIS NOTEBOOK IS] / [FOLDER WHERE THE DATASET IS] / [EXCEL FILE].xlsx
~~~

In [44]:
# Code 1.2.

# Step 1: Import pandas packages  as pd
import pandas as pd

# Step 2: Declare path file
path = "./__resources/airbnb_Listings.csv"

# Step 3: Importing the file into Python through pandas
df_airbnb = pd.read_csv(path)

# Step 4: Check results
df_airbnb

/var/folders/1k/brqb_p7s34s2ycd6vzfrbxf80000gn/T/ipykernel_52220/1520725734.py:10: DtypeWarning: Columns (5,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_airbnb = pd.read_csv(path)

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
1,3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,2013-11-29,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
3,4797344,Cosy studio (close to Eiffel tower),10668311,2013-12-17,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,2014-12-14,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279707,38338635,Appartement T2 neuf prÃÂ¨s du tram T3a Porte ...,31161181,2015-04-13,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,1,7,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
279708,38538692,Cozy Studio in Montmartre,10294858,2013-11-27,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,7,15,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
279709,38683356,Nice and cosy mini-appartement in Paris,2238502,2012-04-27,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,6,30,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
279710,39659000,Charming apartment near Rue Saint Maur / Oberk...,38633695,2015-07-16,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,3,18,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
279711,40219504,Cosy apartment with view on Canal St Martin,6955618,2013-06-17,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,4,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f

<h4> 1.3. List of files</h4>
You can access each element of a directory by using the list directory method from the os package.

In [46]:
# Code 1.3.1.

# Import listdir method
from os import listdir

# printing all files present in the working directory
for item in listdir(path = "."): # . means current directory
    print(item)

.DS_Store
Class 06 - Introduction to Pandas.key
Chapter 06 - Introduction to Pandas.zip
Class 06 - Introduction to Pandas Exercises.ipynb
Untitled.ipynb
brazil_wins.xlsx
Chapter 06 - Introduction to Pandas.ipynb
__resources
.ipynb_checkpoints
brazil_wins.csv

In [47]:
# Code 1.3.2.
# Moving one folder deeper
for item in listdir(path = "./__resources"): 
    print(item)

airbnb_Listings.csv
.DS_Store
world_cup_matches.csv
world_cup_matches.xlsx
world_cup_matches_new.csv
Airbnb Data.nosync

In [48]:
# Code 1.3.3.
# Moving one folder before (parent)
for item in listdir(path = ".."): # two dots == parent directory
    print(item)

3. Class 3
2. Class 2
1. Class 1
.DS_Store
6. Class 6
7. Class 7
4. Class 4
5. Class 5
.ipynb_checkpoints

<h4>1.4 Export files</h4>

In [49]:
# Code 1.4.1.
# Define file names
file_name1 = "airbnb_Listings_1.csv"
file_name2 = "airbnb_Listings_2.csv"

# Saving airbinb listings new files in the same directory
df_airbnb.to_csv(file_name1)
df_airbnb.to_csv(file_name2)

In [50]:
# Code 1.4.2.
# printing all files present in the working directory
for item in listdir(path = "."): # . means current directory
    print(item)

.DS_Store
Class 06 - Introduction to Pandas.key
Chapter 06 - Introduction to Pandas.zip
Class 06 - Introduction to Pandas Exercises.ipynb
Untitled.ipynb
brazil_wins.xlsx
airbnb_Listings_1.csv
airbnb_Listings_2.csv
Chapter 06 - Introduction to Pandas.ipynb
__resources
.ipynb_checkpoints
brazil_wins.csv

<h3>2. Data Dumping: Bad Practice</h3><br>
The head() method is used to display the first n rows of a dataset.

~~~
Attempting to view an entire dataset is a bad idea.
~~~

This is why our output above was restricted to the first and last five rows of the dataset.

<h4>2.1. .head( )</h4>

In [ ]:
# Code 2.1.1.
# Looking at the first 2 elements
____

<h4>2.2. .info( )</h4>

In [ ]:
# Code 2.2.1.
# Getting information from the dataframe
____

<h4>2.3. .shape</h4><br>

In [100]:
df_airbnb.shape

(279712, 33)

<h3>3. Slicing DataFrames</h3>
Slice a single column:

~~~
DataFrame['column_name']
~~~

In [ ]:
# Code 3.1.
# Look at the first 5 elements of the "city" column
____

When slicing a single feature (column) of a DataFrame, Python will return a pandas Series data type. To continue working with a DataFrame data type, you must use the following format:

~~~
DataFrame[  ['column_name']  ]
~~~

In [ ]:
# Code 3.2.
# Look at the first 5 elements of the "city" column
____

In [66]:
type(df_airbnb["city"])

pandas.core.series.Series

In [67]:
type(df_airbnb[ ["city"] ])

pandas.core.frame.DataFrame

<h4>3.1. Slice multiple features (columns)</h4><br>
Retrieve the first 5 rows of the features: name, room_type, bedrooms, and price

In [ ]:
# Code 3.1.1.


df_airbnb____

<h4>3.2. Slice multuple rows</h4><br>
Retrieve the rows between 1000 to 10000 of the airbnb DataFrame.

In [ ]:
# Code 3.2.1.
____

<h4>3.3. .loc( )</h4><br>
Retrieve rows between 50000 and 100000 of columns name, neighbourhood, property_type, and price. Store the result into a new data frame and print the first 5 rows.

In [ ]:
# Code 3.3.1.
df_aribnb_loc = _____

df_aribnb_loc.head()

<h4>3.4. .iloc( )</h4>
Retrieve rows between 50000 and 100000 of columns 4 to 20. Store the result into a new data frame and print the first 5 rows.

In [ ]:
# Code 3.3.2.

df_aribnb_iloc = ____

df_aribnb_iloc.head()

<h3>4. Slice df with conditions</h3>

Retrieve only those observations (rows) where the room type is a "Hotel room". Only include name, city, bedrooms, room type, amenities, and price features

In [ ]:
# Code 4.1.
# use the loc method to slice the specific columns
df_airbnb._____

Keeping the same filter as code 4.1., add a new condition to filter only those properties located in New York and price < $200

In [ ]:
# Code 4.2.
# use the loc method to slice the specific columns
df_airbnb.loc[:, ["name", "city", "bedrooms", "room_type", "amenities", "price"]] \
             [df_airbnb["room_type"] == "Hotel room"]                             \
             ____

<br><br>

If you don't need to slice the rows of a DataFrame (.loc or iloc), you can provide the conditions directly in the DataFrame and use boolean expressions. In this case, we use the character & to represent "and"

In [ ]:
# Code 4.3. 
# Subset based on multiple conditions all DataFrame rows.
df_airbnb____

<br><br>

This structure can get messy very quickly. A best practice is to defined each condition separated and slice the DataFrame with the condition variable.

In [ ]:
# Code 4.4

# Declare conditions
hroom_condition = ____
city_condition  = ____
price_condition = ____

df_airbnb____

<h3>5. Filter by yourself!</h3><br>
Explore the dataset, select 4 conditions and slice the DataFrame based on those conditions.

<h3>6. Adding new columns</h3><br>
Always keep the original DataFrame values. Therefore, create a new DataFrame using the .copy() method

~~~
df_copy = df.copy()
~~~

In [105]:
# Code 6.1. Bad Practice!
# Declare a new DataFrame
df = pd.DataFrame([[1,"a"], [2, "b"], [3, "c"]], columns = ["numbers", "letters"])

print(f"""DataFrame before 'copy': 
{df}""")

df_copy = df

df_copy["special_characters"] = [".", "/", "*"]

print(f"""\n
- Original DataFrame: 
{df}
- Copy DataFrame: 
{df_copy}""")

DataFrame before 'copy':
   numbers letters
0        1       a
1        2       b
2        3       c


- Original DataFrame:
   numbers letters special_characters
0        1       a                  .
1        2       b                  /
2        3       c                  *
- Copy DataFrame:
   numbers letters special_characters
0        1       a                  .
1        2       b                  /
2        3       c                  *

<h4>6.2. Create a new column</h4><br>
<div align = justify>
For each observation, create a column that contains the range of nights someone can stay at the property.
</div>

In [ ]:
# Code 6.2.
# Create a new copy of the original DataFrame
df_airbnb_copy = ____

# Create a new column: nights range (max nighs - min nights)
df_airbnb_copy["nights_range"] = ____ - ____

df_airbnb_copy[["name", "maximum_nights", "minimum_nights", "nights_range"]].head()