<div style="float: right; margin: 0px 15px 15px 0px;">
<img src="https://upload.wikimedia.org/wikipedia/commons/b/b6/HULT_IBS_Logo_Outline_Black_%28cropped%29.png" width=150/>
</div>
<h1 style="list-style-type: none"> Python for Data Analysis: Methods & Tools </h1>
<em> <strong>Practice Set 2: Data types</strong></em>
<br><br>
<b>Author:</b> Nicola Bini - Teaching Assistant<br>
Hult International Business School <br>
<br>

## Types of Data
### Initialize variables
Initialize a new variable for each of the following data types:
- String
- Int
- Float
- Boolean
- List
- Dictionary
- Set
- Sequence (range)

In [4]:
name = ''
age = 18
rev = 10.5
decision = True
lst = [18, 28, 30]
dictionary = {"hello":"ciao", "name":"nome"}
players = set(['value1','value2'])
range(1,5)

range(1, 5)

In [16]:
students = ['amit', 'sartak', 'cherease']
grades = ['4', '3', '4']
print(f'{students[1]} {grades[1]}')

sartak 3

In [25]:
grades = {
    "amit": {'python':4, 'data viz': 3},
    "sartak": 3,
    "cherease": 4
}

## Numbers & Strings
### Convert user input
Since the user input saved using the function **input()** is always stored as string, you need to convert it to the appropriate data type.

Ask the user for his favorite number and save it in an **Integer variable**. Then use the function **type()** to make sure the variable type is **int**

In [28]:
number = input('number:')

number = int(number)

print(type(number))

number:18
<class 'int'>

### Exponentiation
Creat a script that takes 2 input from the user: *base* and *exponent*, and calculate the *base* to the power of *exponent*. Print the result in a sentence. Do not use the math library.

In [37]:
exponent = input("exponent: ")
base = int(input("base: "))

exponent = int(exponent)

result = base**exponent

print(result)

exponent: 3
base: 3
27

### Exponentiation with Math library
Similarly to the previous exercise, create a script that takes as input an whole number and calculate the *cube* of that number. Use the **math library**, and print the result.

In [43]:
import math

exponent = input("exponent: ")
base = int(input("base: "))

exponent = int(exponent)

result = math.pow(base, exponent)

print(result)

exponent: 2
base: 3
9.0

### Counter + 1
Run the cell below to initialize a variable called counter. Then, create a script that everytime it runs it prints the previous number + 1. For example, print 1 the first time it runs, print 2 the second time it runs, and so on.

In [46]:
# Do not change this cell
counter = 0

In [80]:
# Write your code here
counter += 1
print(counter)

34

In [ ]:
# 2 different notations to achieve the same
counter += 1
counter = counter + 1

### Counter -1 
Run the cell below to initialize a variable called countdown. Then, create a script that everytime it runs it prints the previous number - 1. For example, print 100 the first time it runs, print 99 the second time it runs, and so on.

In [87]:
# Write your code here
countdown -= 1
print(countdown)

95

In [82]:
# Do not change this cell
countdown = 100

## Strings
### Concatena input strings
Ask the user to input his/her **first and last name** in 2 different variables. Then concatenate them and save the result in a third variable. Finally print the third variable that contains the full name, before the variable below. Use only one print()

In [ ]:
### Solution ###
introduction = 'is a very friendly user'

first_name = input('first name: ')
last_name = input('last name: ')

full_name = first_name + ' ' + last_name

print(full_name, introduction)

### Concatenate input strings and ints
Ask the user to input they **name and age** and save them in 2 different variables. Then, concatenate them in a single variable and print the result. You don't need to convert the age to string to concatenate the 2 variables, why?

In [ ]:
### Solution ###
first_name = input('first name: ')
age = input('Age: ')

intro = first_name + age

print(intro)

## Booleans
### Return True 
Create a logical statement using the variables **a** and **b** that computes to True

In [ ]:
### Solution ###
a = False
b = True

# Logical statement
result = (a == b)

print(result)

### Stock market and revenue
Given the 2 following statements:

- a = **The stock market has grown**
- b = **Coca Cola company stock price has grown**

Supposing a=True and b=False, create logical statements that matches the following situations:

1. *Both the stock market and Coca Cola stock price has dropped* 
2. *Coca Cola stock price has increased*
3. *Either the stock market or the Coca Cola stock price has dropped*
4. *The Stock market has dropped*

Give *a* and *b* meaningful names. Print the results.

In [ ]:
### Solution ###

a = True
b = False

situation1 = (a and b)
situation2 = (b)
situation3 = (not a) or (not b)
situation4 = (not a)

print('situation1:', situation1)
print('situation2:', situation2)
print('situation3:', situation3)
print('situation4:', situation4)

# alternative 
stock_market_grown = True
coca_cola_price_grown = False

print(stock_market_grown and coca_cola_price_grown)
print(coca_cola_price_grown)
print((not stock_market_grown) or (not coca_cola_price_grown))
print(not stock_market_grown)

### Company revenues and costs
Given the 2 following statements:

- a = **Revenues has increased**
- b = **Production cost has decreased**

Supposing a=False and b=True, create logical statements that matches the following situations:

1. *Production costs has increased and Revenues has decreased*
2. *Both production cost and revenues have decreased*
3. *Revenues have increased and production cost has either increased or decreased*
4. *Either revenues or producion cost have increased*

Write conditions (e.g. **a and b**) that return the truth value of the statements. Assume that both revenue and production cost can either increase or decrease, but cannot stay the same.

In [ ]:
### Solution ###

# statement a = Revenues has increased
revenue_increase = False

# statement b = Production cost has decreased
cost_decrease = True

# Production cost has increased and Revenues has decreased
situation1 = (not cost_decrease) and (not revenue_increase)

# Both production cost and revenues have decreased
situation2 = (cost_decrease) and (not revenue_increase)

# Revenues have increased and production cost has either increased or decreased
situation3 = (revenue_increase) and (cost_decrease or (not cost_decrease))

# Profits have decreased (assuming total cost = production cost)
situation4 = (not revenue_increase) and cost_decrease

print('situation1:', situation1)
print('situation2:', situation2)
print('situation3:', situation3)
print('situation4:', situation4)

revenue_increased = False # revenue have decreased
cost_decreased = True # cost decreased

print((not cost_decreased) and (not revenue_increased))
print(cost_decreased and (not revenue_increased))
print(revenue_increased)
print((revenue_increased) or (not cost_decreased))

### Company's profits

A SaaS company makes all his profits by selling a software with a subscription model. They have 23 thousand subscribers and each of them pay the company 300 dollars a year. The total cost for the company is 3.5 milion dollars a year.

Create logical statements that match the following situations:

1. The company made a profit
2. Revenues are 30% higher than the total cost
3. By increasing the revenue per subscriber by 7.5%, the company would increase its profits by less or equal to 15%
4. The company would have a loss bigger than 1 milion if the subscribers drop by 50%

In [ ]:
###### Solution ###


subscribers = 23000
revenue_per_sub = 300
total_cost = 3500000


total_revenue = subscribers * revenue_per_sub
profit = total_revenue - total_cost
print('total_revenue: ' + str(total_revenue))
print('profit:', profit)


# The company made a profit
situation1 = total_revenue > total_cost

# Revenues are 30% higher than the total cost
situation2 = total_revenue > total_cost * 1.30

# By increasing the revenue per subscriber by 7.5%, the company would increase its profits by less or equal to 15%
situation3 = (((subscribers * revenue_per_sub * 1.075) - total_cost) / (total_revenue - total_cost)) - 1 <= 0.15

# The company would have a loss bigger than 1 milion if the subscribers drop by 50%
situation4 = (((subscribers * 0.5 * revenue_per_sub) - total_cost) < -1000000)


print('situation1:', situation1)
print('situation2:', situation2)
print('situation3:', situation3)
print('situation4:', situation4)

## Sets
### Dinner's food preference
A restaurant wants to collect the food preference of the invitees. They already know that they want some meat and vegetarian options. Create a set with "meat" and "vegetarian". Ask the user's food preferences and adds it to the set **options**, if it's not already there. Then, print the resulting set.

In [ ]:
### Solution ###

# Initialize set with current food preferences
options = set(['meat', 'vegetarian'])

# Ask for user preference
user_preference = input("what food preference do you have? ")

# Add preference to the options list, if it is not already there
options.add(user_preference)

print(options)

## Sequences
### Create and access lists
Create a list with the following names: **Andrea, Raafi, Rodrigo, Marcello, Elisa, Isabella, Rosabel, Zhuomin,** and **Nabeel**. Then perform the following actions:

1. Print the first name on the list
2. Print the last name on the list
3. Print the second and 5th name on the list
4. Print the first 3 names on the list
5. Print the last 4 names on the list
6. Print all the names between the 2nd name (included) and 6th name (included) on the list
7. Print all the names between the 2nd name (excluded) and 6th name (excluded) on the list 
8. Print the length of the list

Remember: the first element of python list have index 0!

In [ ]:
### Solution ###

# Initialize list
names = ['Andrea', 'Raafi', 'Rodrigo', 'Marcello', 'Elisa', 'Isabella', 
         'Rosabel', 'Zhuomin', 'Nabeel']

# 1. Print the first name on the list
print(names[0])

# 2. Print the last name on the list
print(names[-1])

# 3. Print the second and fifth name on the list
print(names[1], names[4])

# 4. Print the first 3 names on the list
print(names[:3])

# 5. Print the last 4 names on the list
print(names[-4:])

# 6. Print all the names between the second and sixth name on the list (included)
print(names[1:6])

# 7. Print all the names between the second and sixth name on the list (excluded)
print(names[2:5])

# 8. Print the length of the list
print(len(names))

### Create and access lists 2
Create a list with a 10 values of your choice. Then print the following information:

1. Every element in the list
2. The first 2 elements of the list
3. The last 5 elements
4. The 4th and 6th element
5. From the 2nd element (included) to the 9th (excluded) element 
6. Everything except the 4th element
7. The length of the list
8. True if the 8th element is "Hult"
9. From the 2nd element (excluded) to the 9th (included) element

In [ ]:
#1. Create a range from 5 (included) to 505 (included) with steps of 25
big_range = range(5,530,25)
#2. Create a range from 2 (excluded) to 10 (included) with steps of 1]
small_range = range(3, 10, 1)
#3. Print the first and last element created in step 1
print(big_range[0])
print(big_range[-1])
#4. Print the first and last element created in step 2
print(small_range[0])
print(small_range[-1])

### Operations on lists
Initialize a list with at least 5 elements and perform the following actions in order:

1. Append one element the number 42 at the end of the list
2. Remove the element 42 from the list
3. Create a second list and extend the first list with it
4. Remove the last element of the list and print it using pop
5. Reverse the list
6. Create a variable with a copy of your list. What is the difference between using .copy() and the assignment operator (e.g. list1 = list2)?

In [94]:
# Initialize list
nums = [1, 5, 3, 4, 105]


# 1. Append one element the number 42 at the end of the list
nums.append(42)

# 2. Remove the element 42 from the list
nums.remove(42)

# 3. Create a second list and extend the first list with it
nums_2 = [-1, -2, -3, -4]
nums.extend(nums_2)

# 4. Remove the last element of the list and print it using pop
print(nums.pop(-1))

# 5. Reverse the list
nums.reverse()

# 6. Create a variable with a copy of your list. What is the difference between using .copy() and the assignment operator (e.g. list1 = list2)?
nums_copy = nums.copy()

-4
[-3, -2, -1, 105, 4, 3, 5, 1]

### Create and access ranges
Execute the followingÂ statements:

1. Create a range from 5 (included) to 505 (included) with steps of 25
2. Create a range from 2 (excluded) to 10 (included) with steps of 1
3. Print the first and last element created in step 1
4. Print the first and last element created in step 2

In [100]:
# 1. Create a range from 5 (included) to 505 (included) with steps of 25
range505 = range(5, 530, 25)

# 2. Create a range from 2 (excluded) to 10 (included) with steps of 1
range10 = range(3, 11)

# 3. Print the first and last element created in step 1
print(range505[0], range505[-1])

# 4. Print the first and last element created in step 2
print(range10[0], range10[-1])

5 505
3 10

## Dictionaries
### Create dictionary for car prices
Create a dictionary that contains the name of 5 cars you like and their prices. Use the car names for the keys and their prices as values

In [ ]:
cars = {
    "model 3" : 34000,
    "modelY" : 35532,
    "modelX" : 150150,
    "Ferrari" : 250150,
    "Maserati" : 150150,
}

### Insert translation in a dictionary
Create a dictionary with 5 english words and their translation in your native language (or a language of your choice)
Then, ask the user to add a new word and its translation. save the result in the dictionary you created.

In [ ]:
italian_translations = {
    'book' : 'libro',
    'obsessed' : 'ossessionato',
    'commitment' : 'commitment',
    'dictionary' : 'dizionario',
    'final' : 'finale',
}

english_word = input('Insert an English word: ')
italian_translation = input(f'How do you say {english_word} in italian? ')

italian_translations[english_word] = italian_translation

print(italian_translations)

### Create a dictionary from lists
Create a list that contains city names and a list that contains the population number for those cities. Then, use the *zip* function to combine the 2 lists to create a dictionary

In [101]:
# Initialize lists
cities = ['Boston', 'San Francisco', 'Tokyo']
populations = [654776, 13960000, 815201]

# Combine lists to create a dictionary
cities_populations = dict(zip(cities, populations))

# Print resulting dictionary
print(cities_populations)

{'Boston': 654776, 'San Francisco': 13960000, 'Tokyo': 815201}