# Session2 Exercises

## 1.0

Load the coaster_db.csv dataset

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("coaster_db.csv", low_memory=False)

## 1.1
Store the coaster dataset in a new database

In [4]:
df.to_csv('coaster2_db.csv')

## 2

Clean the dataset

## 2.1

Add a column giving the average speed per meter in height

In [17]:
df['avg_speed'] = (df[('speed1' + 'speed2')]/2).round(2)

KeyError: 'speed1speed2'

In [15]:
df.head()

,coaster_name,Length,Speed,Location,Status,Opening date,Type,Manufacturer,Height restriction,Model,...,speed1,speed2,speed1_value,speed1_unit,speed_mph,height_value,height_unit,height_ft,Inversions_clean,Gforce_clean
0,Switchback Railway,600 ft (180 m),6 mph (9.7 km/h),Coney Island,Removed,"June 16, 1884",Wood,LaMarcus Adna Thompson,NaN,Lift Packed,...,6 mph,9.7 km/h,6.0,mph,6.0,50.0,ft,NaN,0,2.9
1,Flip Flap Railway,NaN,NaN,Sea Lion Park,Removed,1895,Wood,Lina Beecher,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12.0
2,Switchback Railway (Euclid Beach Park),NaN,NaN,"Cleveland, Ohio, United States",Closed,NaN,Other,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,Loop the Loop (Coney Island),NaN,NaN,Other,Removed,1901,Steel,Edwin Prescott,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
4,Loop the Loop (Young's Pier),NaN,NaN,Other,Removed,1901,Steel,Edwin Prescott,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN

## 2.2
Find the number of empty values

In [14]:
null_count = df.isnull().sum()

print(null_count)

coaster_name                        0
Length                            134
Speed                             150
Location                            0
Status                            213
Opening date                      250
Type                                0
Manufacturer                       59
Height restriction                256
Model                             343
Height                            122
Inversions                        155
Lift/launch system                292
Cost                              705
Trains                            369
Park section                      600
Duration                          322
Capacity                          512
G-force                           725
Designer                          509
Max vertical angle                730
Drop                              593
Soft opening date                 991
Fast Lane available              1018
Replaced                          914
Track layout                      752
Fastrack available               1068
Soft opening date.1               991
Closing date                      851
Opened                           1060
Replaced by                       999
Website                          1000
Flash Pass Available             1037
Must transfer from wheelchair     981
Theme                            1043
Single rider line available      1006
Restraint Style                  1065
Flash Pass available             1041
Acceleration                     1027
Restraints                       1063
Name                             1052
year_introduced                     0
latitude                          275
longitude                         275
Type_Main                           0
opening_date_clean                250
speed1                            150
speed2                            152
speed1_value                      150
speed1_unit                       150
speed_mph                         150
height_value                      122
height_unit                       122
height_ft                         916
Inversions_clean                    0
Gforce_clean                      725
dtype: int64

## 2.3
Find the duplicated coasters and remove them

In [16]:
#Removing Depublicates
df.drop_duplicates(inplace=True)

#Save a New File
df.to_csv('coasters_no_dup.csv', index = False)

## 3
Ask questions

## 3.1
What is the average coaster length per decade?

In [21]:
#We have to split the columns and just have a Integer column for Length
value, measure = df.split
av_length_decade = df.groupby('Opening date')['Length'].mean()

av_length_decade

TypeError: Could not convert 908 m (2,979 ft) to numeric

## 3.2
Find the median speed per Designer

## 3.3
What is the active coaster length per location?

## 3.4
Which manufaturer had the heighest active amount of coaster length each decade?

## 4
Using the earthquake data: Which coaster was closest to an earthquake?